{% extends 'monApp/base.html' %}
    {% block menu %}
        <h1>Hello mes categories !</h1>
    {% endblock %}
    {% block contenu %}
        <p>J'ai {{ categories | length }} categories.</p>
        <p>Mes categories sont :</p>
        <table class="table">
        <thead>
        <th>Id</th>
        <th>Nom Catégorie</th>
        </thead>
        <tbody>
        {% for cate in categories %}
        <tr>
        <td>{{ cate.idCat }} </td>
        <td>{{ cate.nomCat }} </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}
