<html>
    <head>
        <title>Mon app DJANGO</title>
    </head>
    <body>
        <h1>Hello mes produits !</h1>
        <p>J'ai {{ produits | length }} produits préférés.</p>
        <p>Mes produits sont :</p>
        <ul>
            {% for prdt in produits %}
            <li>{{ prdt.intituleProd }}</li>
            {% endfor %}
        </ul>
        <p>
            J'ai
                {% if produits|length < 5 %}
            peu de
                {% elif produits|length < 10 %}
            quelques
                {% else %}
            beaucoup de
                {% endif %}
            produits préférés.
        </p>
    </body>
</html>