{% extends 'monApp/base.html' %}
{% block menu %}
<h1>Hello mes statuts !</h1>
{% endblock %}
{% block contenu %}
        
        <p>J'ai {{ statuts | length }} statuts.</p>
        <p>Mes statuts sont :</p>
        <table class="table">
        <thead>
        <th>Id</th>
        <th>Libelle statut</th>
        </thead>
        <tbody>
        {% for st in statuts %}
        <tr>
        <td>{{ st.idStatut }} </td>
        <td>{{ st.libelleStatut }} </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}
