{% extends 'monApp/base.html' %}

{% block menu %}
<h1>Hello mes rayons !</h1>
{% endblock %}

{% block contenu %}
        
        <p>J'ai {{ rayons | length }} rayons.</p>
        <p>Mes rayons sont :</p>
        <table class="table">
        <thead>
        <th>Id</th>
        <th>Nom rayon</th>
        </thead>
        <tbody>
        {% for r in rayons %}
        <tr>
        <td>{{ r.idRayon }} </td>
        <td>{{ r.nomRayon }} </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>

{% endblock %}
